.slider
  .slider__container
    ul.slider__list
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo1.webp') alt='')
      li.slider__item.slider__item_active
        img.slider__img(src=require('../../images/slider/photo2.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo3.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo4.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo5.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo6.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo7.webp') alt='')
      li.slider__item
        img.slider__img(src=require('../../images/slider/photo8.webp') alt='')
    button.slider__arrow.slider__arrow_left(aria-label='предыдущий слайд')
    button.slider__arrow.slider__arrow_right(aria-label='следующий слайд')