head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='apple-touch-icon' sizes='180x180' href=require('Favicons/apple-touch-icon.png'))
  link(rel='icon' type='image/png' sizes='32x32' href=require('Favicons/favicon-32x32.png'))
  link(rel='icon' type='image/png' sizes='16x16' href=require('Favicons/favicon-16x16.png'))
  link(rel='manifest' href=require('Favicons/site.webmanifest'))
  link(rel='mask-icon' href=require('Favicons/safari-pinned-tab.svg') color='#5bbad5')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')
  meta(name='description' content='«Инженерная компания 555» ремонтирует следующее оборудование: частотные преобразователи, управляющие платы, различные контроллеры, панели оператора, промышленные мониторы, стабилизаторы напряжения и прочую промышленную электронику. Мы восстанавливаем оборудование, ремонт которого по тем или иным причинам считался невозможным. Наши инженеры имеют опыт ремонта электроники на уровне компонентов, что помогает возвращать в эксплуатацию неисправное оборудование.')    
  title Продажа нового электронного промышленного оборудования
  link(href=require('normalize.css') rel='stylesheet')
  //- link(href=require('../styles/pages/first.scss') rel='stylesheet')
  link(href=require('../../styles/index.scss') rel='stylesheet')
  script(src=require('../../index.js') defer=true)